services:
  mariadb:
    build:
      context: ./requirements/mariadb
      dockerfile: Dockerfile
    # container_name removed to avoid name conflicts
    env_file:
      - .env
    secrets:
      - db_root_password
      - db_password
    volumes:
      - mariadb_data:/var/lib/mysql
    networks:
      - inception

  wordpress:
    build:
      context: ./requirements/wordpress
      dockerfile: Dockerfile
    # container_name removed to avoid name conflicts
    env_file:
      - .env
    depends_on:
      - mariadb
    volumes:
      - wordpress_data:/var/www/html
    networks:
      - inception

  nginx:
    build:
      context: ./requirements/nginx
      dockerfile: Dockerfile
    # container_name removed to avoid name conflicts
    depends_on:
      - wordpress
    ports:
      - "443:443"
    volumes:
      - ./requirements/nginx/conf/default.conf:/etc/nginx/conf.d/default.conf:ro
    networks:
      - inception

secrets:
 db_root_password:
  file: ../secrets/db_root_password.txt
 db_password:
  file: ../secrets/db_password.txt

networks:
 inception:
  driver: bridge

volumes:
  wordpress_data:
   driver: local
   driver_opts:
     type: none
     device: ./volumes/wordpress_data
     o: bind
  mariadb_data:
   driver: local
   driver_opts:
     type: none
     device: ./volumes/mariadb_data
     o: bind
