[mysqld]
port=3306
bind-address=0.0.0.0
skip-networking=0
#New vars, don't know if they're useful just yet
socket = /var/run/mysqld/mysqld.sock
datadir = /var/lib/mysql
log-error = /var/log/mysql/error.log
pid-file = /var/run/mysqld/mysqld.pid
